<%= @customer.first_name %>
<%= @customer.last_name %>
<br />
<h4> Total Daycare Punches: </h4><%= @customer.punches.where(punch_category: 'Daycare').sum(:punch_number) %>
<h4> Total Boarding Punches: </h4><%= @customer.punches.where(punch_category: 'Boarding').sum(:punch_number) %>
<br />


<% @punches.each do |punch| %>
  <%= punch.punch_category %>
  <%= punch.punch_number %>
  <%= punch.created_at %>
  <% end %>


<%= link_to "Edit Customer", edit_customer_path(@customer), class: "btn btn-default" %>
<%= link_to "Delete Customer", customer_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
<%= link_to "Add Punches", new_customer_punch_path(@customer) %>